* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  text-align: center;
  line-height: 1.4rem;
  margin: 4% 0;
}

#total-price {
  padding: 15px 0 0 0;
  /* text-align: center; */
  margin-top: 15px;
  margin-left: 35px;
  font-size: 35px;
}

#cart img {
  max-width: 250px;
}
