* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(85, 114, 139);
  display: flex;
  justify-content: flex-end;
}

#navbar div {
  display: flex;
  height: 100%;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  text-align: center;
  line-height: 1.4rem;
  margin: 4% 0;
}

#menu img {
  max-width: 250px;
}

#count {
  display: flex;
  font-size: 1.8em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
}

a {
  color: white;
}
